@import url('../Main.css');

/* Tasks */
.tasks{
    min-width: 40rem;

}
.tasks > li{
    display: flex;
    padding: 0 2rem;
    border-bottom: solid 0.1rem var(--color-2);
    min-height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.tasks > li:hover{
    background-color: var(--color-6);
}

.task-buttons{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.task-button-edit,
.task-button-delete{
    cursor: pointer;
    margin-left: 1rem;
}

.task-button-edit{
    color: var(--color-2);
}

.task-button-delete{
    color: var(--color-5);
}
